.asset-date-picker {
    font-family: Inter, system-ui, sans-serif;
}

.asset-date-picker .dash-datepicker-input {
    width: 110px !important;
    font-size: 13px;
    color: #131313;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 5px 8px;
    background-color: #fff;
}

.asset-date-picker .dash-datepicker-input::placeholder {
    color: #9ca3af;
    font-size: 13px;
}

/* .CalendarDay__default {
    background: #020617;
    color: #e5e7eb;
    border: 1px solid #020617;
}

.CalendarDay__hovered_span,
.CalendarDay__selected_span {
    background: rgba(47, 111, 106, 0.15);
    color: #e5e7eb;
}

.CalendarDay__selected {
    background: #2F6F6A;
    color: white;
}

.CalendarDay__today {
    border: 1px solid #2F6F6A;
}

.DayPickerNavigation_button {
    filter: invert(80%);
} */

/* Track */
.timeframe-slider .rc-slider-track {
    background-color: #386f9a; /* active line */
}

/* Rail (inactive line) */
.timeframe-slider .rc-slider-rail {
    /* background-color: #e0e0e0; */
}

/* Handle (the knob) */
.timeframe-slider .rc-slider-handle {
    border: solid 3px #386f9a;
    /* background-color: white; */
    width: 16px;
    height: 16px;
    margin-top: -6px;
}

/* Hover glow */
.timeframe-slider .rc-slider-handle:hover {
    border-color: #151212;
}

/* Marks text */
.timeframe-slider .rc-slider-mark-text {
    color: #555;
    font-weight: 500;
}