.asset-date-picker {
    font-family: Inter, system-ui, sans-serif;
}

.asset-date-picker .DateInput_input {
    --background-color: #0f172a;     /* deep slate */
    color: #131313;
    /* border: 1px solid #609cef; */
    border-radius: 4px;
    padding: 6px 6px;
    font-size: 15px;
    font-weight: normal;
    text-justify: auto;
}

.asset-date-picker .DateInput_input::placeholder {
    color: #9ca3af;
    font-size: 5;
}

.asset-date-picker .DateRangePickerInput {
    background-color: transparent;
}

.asset-date-picker .DateInput_input:focus {
    border-color: #0d5b83;     /* your muted teal */
    /* box-shadow: 0 0 0 1px #2F6F6A; */
}

.asset-date-picker .DateRangePickerInput_arrow {
    color: #6b7280;
}

.asset-date-picker .DateRangePickerInput_clearDates {
    color: #6b7280;
}

/* .CalendarDay__default {
    background: #020617;
    color: #e5e7eb;
    border: 1px solid #020617;
}

.CalendarDay__hovered_span,
.CalendarDay__selected_span {
    background: rgba(47, 111, 106, 0.15);
    color: #e5e7eb;
}

.CalendarDay__selected {
    background: #2F6F6A;
    color: white;
}

.CalendarDay__today {
    border: 1px solid #2F6F6A;
}

.DayPickerNavigation_button {
    filter: invert(80%);
} */